.navbar{
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    height: 88px;
    font-size: 15px;
}
.navbar-container{
    margin: 0;
    display: flex; 
    justify-content: space-between;
    /* border-bottom: 1px solid rgb(224, 222, 222); */
}
#space-around{
    margin: 10px 10px 20px 12px;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    grid-gap: 24px;
    list-style: none;
    margin-right: 2rem;
}
.nav-menu li{
    padding-top: 15px;
}
.hidden{
    display: none;
}
.signup{
    font-size: 15px;
    background: transparent;
    border-radius: 25px;
    padding: 8px 15px;
    border: 1px solid;
    cursor: pointer;
}
.signup:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.join:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.join{
    font-size: 15px;
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 8px 15px;
    border: 1px solid;
    cursor: pointer;
}

@media screen and (max-width:800px){
    .menu-icon i{
        cursor: pointer;
        position: fixed;
        top: 40px;
        right: 50px;
    }
    .nav-menu a img{
        position: fixed;
        top: 18px;
        left: 30px;
    }
    .navbar-container {
        font-size: 19px;
        margin-right: 0;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 72px;
        right: -600px;
        width: 70%;
        height: 100vh;
        background: rgb(250, 250, 250);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    }
    .navbar-container.active{
        right: -19px;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        grid-gap: 24px;
        text-align: right;
    }
    .navbar-container ul{
        padding-top: 30px;

    }
    
    .hidden{
        display: contents;
    }
}
